body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.card {
    background-color: white;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 25px 30px;
}

.card-content h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 16px;
    color: #444;
    line-height: 2;
}

.btn {
    color: #fff;
    background-color: #007bff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover .more{
    background-color: #005f86;
    opacity: 1;
    visibility: visible;
}
.more{
   display: none;
}
.more.show {
    display: block;
}
