* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
body{
    text-align: right;
    direction: rtl;
    font-size: 15px;
    font-weight: 400;
    width: 1440px;
    margin: auto;
}
html{
    height: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
    list-style: none;
}
.top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
}
.search-box form:hover {
    border: none;
}
.search-box form {
    position: relative;
    margin-top: 20px;
    z-index: 1;
}
.search-box form input {
    height: 40px;
    background: #f3f4f6;
    border-radius: 7px;
    font-size: 13px;
    padding: 15px;
    width: 600px;
    padding-right: 50px;
}
.search-box form button {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 15px;
    background-color: transparent;
    color: #948d8d;
}
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    background-position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -10;
}
.content {
    position: relative;
    z-index: 1;
    height: 104vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: sans-serif;
    z-index: -10;
}
.wellcome{
    margin-bottom: 15px;
    font-size: 40px;
}
.kashf{
    font-size: 20px;
}
.register-button {
    color: #161A1DE7;
    display: flex;
    align-items: center;
    gap: 5px;
}
.register-button i {
    font-size: 20px;
}
.down-header {
    padding: 14px 0px;
    margin-top: 8px;
    d
}
.main-menu {
    z-index: 1;
    display: flex;
}
.megamenu-box .titel-megamenu{
    font-weight: 450;
    color: #161a1d;
    cursor: pointer;
    font-size: 20px;
}
.megamenu-box .titel-megamenu i {
    padding-left: 10px;
}
.megamenu{
    position: relative;
    z-index: 1;
}
.megamenu-box:hover > .megamenu > ul {
    visibility: visible;
    opacity: 1;
    top: 16px;
}
.megamenu > ul::before {
    content: "";
    position: absolute;
    top: -22px;
    width: 100%;
    height: 25px;
}
.megamenu > ul {
    position: absolute;
    top: 25px;
    right: 0px;
    border: 1px solid #ddd;
    /* padding: 10px; */
    width: 222px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.megamenu > ul > li {
display: flex;
justify-content: space-between;
align-items: center;
}
.megamenu > ul > li > a {
    padding: 22.5px;
    font-weight: 450;
    font-size: 20px;
}
.megamenu > ul > li > i {
font-size: 8px;
padding-left: 12px;
}
.megamenu > ul > li:hover > ul{
visibility: visible;
opacity: 1;
transition: all 0.2s ease-in-out;

}
.megamenu > ul > li > ul {
position: absolute;
top: 0px;
right: 100%;
width: 1200px;
display: flex;
padding: 13px;
visibility: hidden;
opacity: 0;
z-index: 1;
}
.megamenu > ul > li > ul > li {
width: 25%;
z-index: 1;
}
.megamenu > ul > li > ul > li > a {
    font-weight: 563;
    color: #ccc;
    border-right: 3px solid #b01d1d;
    padding-right: 5px;
    margin-bottom: 7px;
    display: inline-flex;
    font-size: 20px;
}
.megamenu > ul > li > ul > li ul li a {
    font-size: 15px;
    font-weight: 452;
    padding: 6px;
    color: #000;
    display: block;
}
.menu-header > ul {
    /* color: #000; */
    border-right: 1px solid;
    margin-right: 20px;
}
.menu-header > ul > li {
    display: inline-block;
    position: relative;
}
.menu-header ul li a {
    text-decoration: none;
    color: #000000;
    margin: 0 11px;
    font-weight: 350;
    padding: 14px 0px;
}

.menu-header > ul > li > a:hover {
    border-bottom: 1px solid #ab0e0e;

}
.menu-header > ul > li:hover > ul{
    visibility: visible;
    opacity: 1;
    top: 38px;
}
.menu-header ul li ul {
    border: 1px solid #000000;
    position: absolute;
    top: 20px;
    width: 173px;
    padding: 7px 0px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.menu-header ul li ul li{

}
.menu-header ul li ul li a {
    padding: 4px 10px;
    display: block;
    font-size: 13px;
}


