@font-face {
    font-family: "font";
    src: url(../font/yekan.ttf);
  }

body {
    font-family: "font", sans-serif !important;
    background-color: #fffef6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    backdrop-filter: blur(5px); 
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 14px;
    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f8f6;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    background-color:rgb(240, 142, 142);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.signup-btn:hover {
    background-color:#1e1e1f;
}

.divider {
    margin: 15px 0;
    font-size: 14px;
    color: #757575;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #d1d1d1;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.google-btn img {
    width: 22px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #d7d7d7;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input, form button {
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

input, textarea, select {
    font-family: "font", sans-serif !important;
}

button {
    font-family: "font", sans-serif !important;
}