@font-face {
    font-family: "font";
    src: url(../font/yekan.ttf);
  }
  
body {
    font-family: "font", sans-serif !important;
    direction: rtl;
    background-color:#f5f2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in {
    background-color: rgb(240, 142, 142);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.google-sign-in {
    background-color:rgb(240, 142, 142);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

.link-one {
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
}

.link-two {
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

input, button {
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

input, textarea, select {
    font-family: "font", sans-serif !important;
}

button {
    font-family: "font", sans-serif !important;
}